/* Color palette and sizes as CSS custom properties */
:root {
    --avatar-size: 32px;
}

.neos.neos-module.neos-module-management-history {
    .neos-history {
        max-width: none;
    }

    .load-more {
        display: flex;
        justify-content: center;
    }

    .neos-history-info {
        margin-bottom: 2rem;

        form {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }

    .neos-content-diff {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-Full);
        padding-top: var(--spacing-Half);

        .neos-content-diff__change {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-Half);
            border-bottom: 1px solid var(--grayLight);
            padding-bottom: var(--spacing-Half);

            strong {
                font-weight: bold;
            }
        }

        .neos-content-diff__block {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            background-color: white;
            color: var(--textOnWhite);

            pre {
                white-space: pre-wrap;
                word-break: break-word;
            }

            ins,
            ins a {
                color: var(--successText);
                text-decoration: none;
            }

            del,
            del a {
                color: var(--errorText);
                text-decoration: none;
            }
        }

        .neos-content-diff__block__base {
            padding: 1rem;
            border-right: 1px solid var(--grayLight);
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -10px;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 0 10px 10px;
                border-color: transparent transparent transparent var(--grayLight);
                z-index: 1;
            }
        }

        .neos-content-diff__block__changed {
            padding: 1rem;
        }
    }

    .neos-history-day {
        .neos-history-date {
            margin-left: 0;
        }

        .neos-history-events {
            padding-top: var(--spacing-Full);
            width: auto;

            .neos-history-date {
                margin-bottom: var(--spacing-Full);

                .neos-history-date-inner {
                    line-height: var(--spacing-GoldenUnit);
                    width: var(--spacing-GoldenUnit);
                    height: var(--spacing-GoldenUnit);
                    margin-left: calc(-1 * (var(--spacing-GoldenUnit) / 2 + 2px));
                    font-size: 12px;
                    background: var(--grayLight);
                }
            }

            .neos-history-event {
                padding-top: 0;
                padding-right: 0;
                margin-bottom: var(--spacing-Full);
                background-color: var(--grayMedium);
                background-clip: padding-box;
                border: 1px solid var(--grayLight);
                box-shadow: none;

                &::after {
                    content: none;
                }

                .neos-history-event-arrow {
                    position: absolute;
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-color: transparent;

                    &:after {
                        position: absolute;
                        display: inline-block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-color: transparent;
                        content: "";
                        z-index: -1;
                    }
                }

                .neos-history-event-title {
                    margin: 0;
                    padding: calc(var(--spacing-Full) - 3px) calc(var(--spacing-Full) - var(--spacing-Quarter));
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: bold;
                    color: #fff;
                    background-color: var(--grayDark);
                    border-bottom: 1px solid var(--grayLight);

                    &:empty {
                        display: none;
                    }

                    .neos-tooltip-inner {
                        white-space: nowrap;
                        max-width: none;
                    }

                    .icon-external-link {
                        float: right;
                    }
                }

                .neos-history-event-content {
                    padding: var(--spacing-Half) calc(var(--spacing-Half) + var(--spacing-Quarter));
                    display: flex;
                    flex-direction: column;
                    gap: .5em;
                }

                .neos-history-sub-event {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;

                    & + .neos-history-sub-event {
                        margin-top: var(--spacing-Half);
                    }
                }

                .neos-history-event-user {
                    border-radius: 50%;
                    width: var(--avatar-size);
                    height: var(--avatar-size);
                    margin-right: 0;
                    float: none;
                    border: none;
                    background: var(--blueDark);
                    overflow: hidden;
                    text-align: center;
                    line-height: var(--avatar-size);
                    font-size: 12px;
                    justify-content: center;
                    flex-shrink: 0;
                }

                .neos-history-event-description {
                    padding: var(--spacing-Quarter) 0 var(--spacing-Quarter) var(--spacing-Full);
                    margin-right: 0;
                    line-height: 1.4;
                    flex: 1;

                    a {
                        text-decoration: underline;
                    }

                    strong {
                        font-weight: bold;
                    }

                    .neos-history-event-details {
                        user-select: none;
                        width: 100%;
                        overflow-x: auto;
                        margin-top: var(--spacing-Half);

                        summary {
                            line-height: normal;
                            cursor: pointer;

                            &:hover {
                                color: var(--blue);
                            }

                            i {
                                vertical-align: top;
                                margin-right: 1ch;
                            }
                        }
                    }
                }
            }
        }

        &:nth-child(even),
        &:nth-child(odd) {
            .neos-history-events.neos-history-alignment {
                margin-left: 0;
                border-left: 4px solid var(--grayMedium);
                border-right: 0;

                .neos-history-event {
                    margin-left: 10px;
                }

                .neos-history-date {
                    margin-left: -4px;
                }

                .neos-history-event-arrow {
                    top: 20px;
                    left: -10px;
                    margin-top: -10px;
                    border-width: 10px 10px 10px 0;
                    border-right-color: var(--grayMedium);

                    &:after {
                        border-width: 11px 11px 11px 0;
                        border-right-color: var(--grayLight);
                        bottom: -11px;
                        left: -1px;
                    }
                }
            }
        }
    }
}
