/* Color palette and sizes as CSS custom properties */
:root {
    --gray-darker: #141414;
    --gray-dark: #222;
    --gray-medium: #323232;
    --gray-light: #3f3f3f;
    --gray-lighter: #eee;
    --blue-dark: #007fb2;
    --green: #00a338;
    --warning: #ff460d;
    --unit: 40px;
    --default-margin: 16px;
    --related-margin: 8px;
    --tight-margin: 4px;
    --wide-margin: 32px;
}

.neos.neos-module.neos-module-management-history {
    .neos-history {
        max-width: none;

        &::after {
            display: block;
            content: "";
            clear: both;
        }
    }

    .neos-history-info {
        float: left;

        .neos-tooltip-inner {
            white-space: nowrap;
            max-width: none;
        }

        & + p {
            width: 100%;
            margin-top: 20px;
            float: left;
        }
    }

    .neos-history-day {
        .neos-history-events {
            padding-top: var(--default-margin);

            .neos-history-date {
                margin-bottom: var(--default-margin);

                .neos-history-date-inner {
                    line-height: var(--unit);
                    width: var(--unit);
                    height: var(--unit);
                    margin-left: calc(-1 * (var(--unit) / 2 + 2px));
                    font-size: 12px;
                    background: var(--gray-light);
                }
            }

            .neos-history-event {
                padding-top: 0;
                padding-right: 0;
                margin-bottom: var(--default-margin);
                background-color: var(--gray-medium);
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                border: 1px solid var(--gray-light);
                box-shadow: none;

                &::after {
                    content: none;
                }

                .neos-history-event-arrow {
                    position: absolute;
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-color: transparent;

                    &:after {
                        position: absolute;
                        display: inline-block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-color: transparent;
                        content: "";
                        z-index: -1;
                    }
                }

                .neos-history-event-title {
                    margin: 0;
                    padding: calc(var(--default-margin) - 3px) calc(var(--default-margin) - var(--tight-margin));
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: bold;
                    color: #fff;
                    background-color: var(--gray-dark);
                    border-bottom: 1px solid var(--gray-light);

                    &:empty {
                        display: none;
                    }

                    .neos-tooltip-inner {
                        white-space: nowrap;
                        max-width: none;
                    }

                    .icon-external-link {
                        float: right;
                    }
                }

                .neos-history-event-content {
                    padding: var(--related-margin) calc(var(--related-margin) + var(--tight-margin));
                }

                .neos-history-sub-event {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    & + .neos-history-sub-event {
                        margin-top: var(--related-margin);
                    }
                }

                .neos-history-event-user {
                    border-radius: 50%;
                    width: var(--wide-margin);
                    height: var(--wide-margin);
                    margin-right: 0;
                    float: none;
                    border: none;
                    background: var(--blue-dark);
                    overflow: hidden;
                    text-align: center;
                    line-height: var(--wide-margin);
                    font-size: 12px;
                    justify-content: center;
                    flex-shrink: 0;
                }

                .neos-history-event-description {
                    padding: var(--tight-margin) 0 var(--tight-margin) var(--default-margin);
                    margin-right: 0;
                    line-height: var(--default-margin);

                    a {
                        text-decoration: underline;
                    }

                    .neos-history-event-details {
                        cursor: pointer;
                        user-select: none;
                        width: 100%;
                        overflow-x: auto;
                        margin-top: var(--related-margin);

                        summary {
                            line-height: normal;

                            i {
                                vertical-align: top;
                            }
                        }

                        table {
                            width: 100%;

                            th {
                                text-align: center;
                                font-weight: bold;
                            }

                            td,
                            th {
                                height: auto;
                                padding: var(--related-margin);
                                line-height: 1;

                                &:first-child {
                                    padding-left: 0 !important;
                                }

                                &:last-child {
                                    padding-right: 0 !important;
                                }
                            }

                            td td {
                                width: 50%;
                                border: none;
                            }

                            ins,
                            ins a {
                                color: var(--green);
                                text-decoration: none;
                            }

                            del,
                            del a {
                                color: var(--warning);
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }

        &:nth-child(even) {
            .neos-history-events.neos-history-alignment {
                .neos-history-date {
                    margin-left: 100%;
                }

                .neos-history-event {
                    margin-right: 10px;
                }

                .neos-history-event-arrow {
                    top: 50%;
                    right: -10px;
                    margin-top: -10px;
                    border-width: 10px 0 10px 10px;
                    border-left-color: var(--gray-medium);

                    &:after {
                        border-width: 11px 0 11px 11px;
                        border-left-color: var(--gray-light);
                        bottom: -11px;
                        right: -1px;
                    }
                }
            }
        }

        &:nth-child(odd) {
            .neos-history-events.neos-history-alignment {
                .neos-history-date {
                    margin-left: -4px;
                }

                .neos-history-event {
                    margin-left: 10px;
                }

                .neos-history-event-arrow {
                    top: 50%;
                    left: -10px;
                    margin-top: -10px;
                    border-width: 10px 10px 10px 0;
                    border-right-color: var(--gray-medium);

                    &:after {
                        border-width: 11px 11px 11px 0;
                        border-right-color: var(--gray-light);
                        bottom: -11px;
                        left: -1px;
                    }
                }
            }
        }
    }
}
